@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
}

.article {
  background: rgb(17, 17, 17);
  border: 1px solid black;
  border-radius: 20px;
  width: 80dvw;
  margin: 50px;
  padding: 20px 15px;
  box-shadow: 0 24px 80px hsla(0, 0%, 0%, 0.25);
  z-index: 1;
}

li {
  list-style: none;
}

.skills-title {
  margin-bottom: 20px;
  color: hsl(0, 0%, 100%);
}

.skill-list {
  padding: 20px;
}

h5 {
  color: hsl(0, 0%, 100%);
}

.skill-item:not(:last-child) {
  margin-bottom: 10px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.title-wrapper data {
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: 300;
}

.content-card {
  margin-bottom: 20px;
}

.skill-progress-bg {
  background: hsl(0, 0%, 22%);
  width: 100%;
  height: 10px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: linear-gradient(to right,
      hsl(45, 100%, 72%),
      #DC4492);
  height: 100%;
  border-radius: inherit;
}

@media (min-width: 580px) {
  .skills-item:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media (max-width: 1280px) {
  body {
    margin: auto;
  }

  .skills {
    width: 90%;
  }

  li {
    width: 100%;
  }
}